<style>
    body {
        background-image: url(http://www.creppy.es/wp-content/uploads/2018/02/chalkboard.jpg);
        background-color: black;
        color: white;
        font-family: 'Amatic SC', cursive;
    }
    a {
        color: white
    }
    .submit {
        outline: 10px solid white;
        border-radius: 30px;
    }
    .submit span {
        color:white
    }
</style>
<a href="/login/facebook">Log in with Facebook</a>