<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <style>
    body {
        background-image: url(http://www.creppy.es/wp-content/uploads/2018/02/chalkboard.jpg);
        background-color: black;
        color: white;
        font-family: 'Amatic SC', cursive;
    }
    a {
        color: white
    }
    .submit {
        outline: 10px solid white;
        border-radius: 30px;
    }
    .submit span {
        color:white
    }
</style>
  <title>The Happiest Hour</title>
</head>

<body>
  {{{body}}}
</body>

</html>